<div class="body-max-width mx-auto mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card recipe-card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <i class="bi bi-journal me-2 fs-4"></i>
              <h4 class="m-0">Your Recipes</h4>
            </div>
            <%= link_to '+ Add New Recipe', new_recipe_path, class: 'btn btn-primary' %>
          </div>
          <div class="card-body">
            <% if @recipes.any? %>
              <% @recipes.each do |recipe| %>
                <div class="card recipe-list-item mb-3">
                  <div class="row g-0">
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title"><%= link_to recipe.name, recipe, class: 'text-decoration-none' %></h5>
                        <p class="card-text"><%= recipe.description %></p>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer d-flex justify-content-end">
                    <%= button_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p class="m-0 text-center">You haven't created any recipes yet.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
